<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Login" >
        <classes>
            <class name="com.tran.qa16.tests.Testlogin"/>
        </classes>
    </test>

    <test name="Groups">
        <classes>
            <class name="com.tran.qa16.tests.GroupCreationTest" />
            <class name="com.tran.qa16.tests.GroupModificationTest" />
            <class name="com.tran.qa16.tests.GroupDeletionTest" />
        </classes>
    </test>
</suite>
